.containerArticle {
  display: flex;
  font-family: "Arimo", sans-serif;
  min-height: 100vh;
  padding: 2em 0;
  flex-direction: column;
  align-items: center;
  background: var(--slightly-white);
}

.navArticle {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: yellow 1px solid; */
}

.navArticle div {
  display: flex;
  align-items: center;
}

.navArticle .logo {
  height: 40px;
  cursor: pointer;
}

.navArticle button {
  font-weight: bold;
  font-size: 12px;
  font-family: "Arimo", sans-serif;
  padding: 0.9em 2.5em;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
}

.submitArticle {
  margin-left: 2em;
  background: var(--purple);
}

.cancelArticle {
  background: var(--cold-gray);
  opacity: 50%;
  margin-right: 2em;
}

.form {
  margin-top: 3em;
  /* border: black 1px solid; */
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form .icons {
  position: absolute;
  display: flex;
  align-items: center;
  /* border: yellow 1px solid; */
  background: var(--slightly-white);
  height: 3em;
  min-width: 2.5em;
  top: 55px;
  left: -60px;
}

.form .icons i {
  margin: 0 0.3em;
  height: 2.4em;
  width: 2.4em;
  border: blue 1px solid;
  display: grid;
  place-items: center;
  color: #b3b3b1;
  border: 1px solid #b3b3b1;
  font-size: 12px;
  border-radius: 2em;
  transition: 0.2s all ease-in;
}

.form .icons i:hover {
  filter: brightness(120%);
}

.form .icons div {
  display: flex;
}

.form .icons div div {
  margin-left: 1em;
}

.form h1 {
  color: #b3b3b1;
}

.form .text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form .text input {
  border: none;
  background: none;
  outline: none;
  overflow: visible;
  font-size: 40px;
  font-family: "Arimo", sans-serif;
}

.form .text div {
  width: 100%;
  flex: 1;
}

.form .text textarea {
  width: 100%;
  border: none;
  font-family: "Arimo", sans-serif;
  background: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.form .text div {
  margin-top: 1.5em;
}

.additional {
  font-size: 8px;
  padding: 1em;
  width: 100%;
  /* border: yellow 1px solid; */
  display: flex;
  justify-content: space-between;
}

.themes {
  /* border: 1px blue solid; */
  flex: 1;
}

.sellingPrices {
  width: 50%;
  /* border: red 1px solid; */
}

.additional p {
  text-transform: uppercase;
}

.tagsContainer {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 1em;
  background:rgba(169, 167, 177, .5);
  border-radius: 2em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.tag i {
  background: #00000099;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  color: rgba(169, 167, 177);
  margin-left: 1em;
}

.sellingPrices input {
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #00000042;
  border-radius: 0.5em;
  /* outline: none; */
}