.container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 47%;
  margin-bottom: 2em;
  margin-right: 1.5em;
  border-radius: 2em;
}

.container > img {
  width: 100%;
}

.container > h1 {
  font-family: "Arimo", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
