.nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav div {
  display: flex;
  align-items: center;
}

.nav .logo {
  height: 40px;
}

.circleBagButton {
  padding: 1em;
  border-radius: 50%;
  background: var(--cold-gray);
}

.shoppingBag {
  color: white;
  height: 18px;
}

.signInButton {
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 2em;
  padding: 1em 1.8em;
  border-radius: 0.8rem;
  color: white;
  background: var(--purple);
}
